@keyframes hide-animation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hide-section_about {
  animation: hide-animation 0.2s;
  animation-fill-mode: forwards;
}

.show-section_about {
  animation: show 0.2s;
  animation-fill-mode: forwards;
}

.about-page__text-container {
  width: 321px;
  vertical-align: top;
  display: inline-block;
  margin: 150px 50px 0 100px;
}
.about-page__title {
  font-size: 68px;
  font-weight: 700;
  margin: 0 0 21px 0;
}
.about-page__text {
  font-size: 18px;
  margin: 0 0 38px 0;
}
.about-page__button {
  width: 282px;
  display: flex;
  font-size: 14px;
  transition: 0.2s;
  font-weight: 700;
  align-items: center;
  letter-spacing: 3px;
  border-radius: 182px;
  background: #00c9e0;
  justify-content: center;
  padding: 20px 20px 20px 30px;
  color: var(--main-text-color);
}
.about-page__button:hover {
  transition: 0.2s;
  background: #02f6c5;
}
.about-page__button:focus {
  transition: 0.2s;
  background: #02f6c5;
}
.about-page__arrow {
  transition: 0.2s;
  padding: 2px 0 0 0;
}
.about-page__button:hover .about-page__arrow {
  transition: 0.2s;
  padding: 2px 0 0 30px;
}

.about-page__img-container {
  width: 700px;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 20px 0 0 0;
  position: relative;
  border-radius: 30px;
  vertical-align: top;
  display: inline-flex;
}
.about-page__img {
  width: 350px;
  height: 290px;
}

.about-page__img-container .about-page__img:nth-child(3) {
  width: 350px;
  height: 350px;
  transform: rotate(90deg);
}
.about-page__img-container .about-page__img:last-child {
  width: 350px;
  height: 350px;
}
