@keyframes hide-animation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hide-section_home {
  animation: hide-animation 0.2s;
  animation-fill-mode: forwards;
}

.show-section_home {
  animation: show 0.2s;
  animation-fill-mode: forwards;
}

.home-page {
  padding: 50px 0 0 0;
  color: var(--main-text-color);
}
.home-page__title {
  font-size: 125px;
  margin: 0 0 25px 0;
  text-align: center;
}
.home-page__sub-title {
  font-size: 30px;
  text-align: center;
}

.home-page__container {
  width: 500px;
  margin: 0 auto;
}
.home-page__gif {
  display: block;
  margin: 30px auto 0;
}
