@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Signika+Negative:wght@700&display=swap");
@import url("header.css");
@import url("home-page.css");
@import url("about-page.css");
@import url("hobbies-page.css");
@import url("grade-page.css");
@import url("skils-page.css");
@import url("contacts-page.css");

:root {
  --main-color: rgb(180, 177, 177);
  --main-text-color: #fff;
}

@keyframes orange-underline_show {
  0% {
    border-bottom: 3px solid transparent;
  }
  100% {
    border-bottom: 3px solid orange;
  }
}

@keyframes orange-underline_hide {
  0% {
    border-bottom: 3px solid orange;
  }
  100% {
    border-bottom: 3px solid transparent;
  }
}

@keyframes them-on {
  0% {
  }
  100% {
    background: #000;
  }
}

@keyframes them-off {
  0% {
    background: #000;
  }
  100% {
    background: transparent;
  }
}

@keyframes green-underline_show {
  0% {
    border-bottom: 3px solid transparent;
  }
  100% {
    border-bottom: 3px solid #00ff7f;
  }
}

@keyframes green-underline_hide {
  0% {
    border-bottom: 3px solid #00ff7f;
  }
  100% {
    border-bottom: 3px solid transparent;
  }
}

.orange-underline-on {
  animation: orange-underline_show 0.4s;
  animation-fill-mode: forwards;
}

.orange-underline-off {
  animation: orange-underline_hide 0.4s;
  animation-fill-mode: forwards;
}

.green-underline-on {
  animation: green-underline_show 0.4s;
  animation-fill-mode: forwards;
}

.green-underline-off {
  animation: green-underline_hide 0.4s;
  animation-fill-mode: forwards;
}

.dark-theme-on {
  animation: them-on 0.5s;
  animation-fill-mode: forwards;
}
/* aaaaaaa */
.dark-theme-off {
  animation: them-off 0.5s;
  animation-fill-mode: forwards;
}

html,
body {
  height: 100%;
  display: flex;
  overflow: hidden;
  min-width: 1500px;
  align-items: center;
  background-size: cover;
  justify-content: center;
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  background: url("../img/otherr/main-bg3.jpg") no-repeat center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.content {
  width: 1300px;
  height: 750px;
  overflow: hidden;
  border-radius: 30px;
  backdrop-filter: blur(5px);
  border: 2px solid var(--main-color);
}

.accent-text {
  color: #1ee0e1;
  font-weight: 300;
  font-style: italic;
  font-family: "Axiforma";
}

.hide {
  display: none;
}
